<div class="footer-imgs">
    <img class="img1" src="../../assets/Home/logotipo-footer.png">
    <div class="address" style="padding-top: 1.3rem">
        <img class="img2" src="../../assets/Home/ic-localização.png">
        <div class="adress-content">
            <span> Rua Herman Rechter, 43 - Vila Penteado </span>
            <span> CEP 02864-050 - São Paulo/SP</span>
        </div>
    </div>

    <div style="padding-top: 1.1rem; font-family: 'Nunito'; font-weight: bold ">
        <img class="im3" src="../../assets/Home/ic_telefone.png">
        <div style="transform: translateX(4rem) translateY(-2.5rem)">(11) 3859-6214</div>

    </div>

    <img style="height: 5%; padding-top:0.7rem" src="../../assets/Home/ic-facebook.png">
</div>
