.footer-imgs {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.address {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 20%;

  & > .adress-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0.7rem;
  }
}
.img1 {
  width: 15%;
}
