<div class="no-scroll"><img src="../../assets/Home/banner.jpg">
<div class="container">
    <span class="content">Caminhando juntos em busca de um caminho melhor.</span>
    <a class="button-shape"><span [routerLink]="['/como-ajudar']" class="align-text">
            Faça
            sua
            doação</span></a>
</div>

<div class="text-image">
    <div class="text">
        <p class="title"> Desde 1975 atuando na área da infância e juventude</p>
        <p class="text-content">Sociedade Beneficente Caminhando Para o Futuro, inciou suas atividades no ano de 1975,
            no
            dia 11 de julho. A
            inciativa surgiu de movimentos de moradores de bairro do Jd. Carombé para abertura de um núcleo que tivesse
            a
            proposta de atender à crianças e adolescentes de famílias que residem na região e assim à famílias poderiam
            ficar mais tranquilas, pois seus filhos estariam em um local seguro</p>
    </div>

    <img src="../../assets/Home/ilustração_caminhando.png" class="image-size">
</div>

<span class="title-projetos">Nossos Projetos</span>

<div class="img-projects">
    <div class="items-project">
        <img src="../../assets/Home/img-cca.png">
        <span>CCA - Centro de Crianças e Adolescente</span>
    </div>
    <div class="items-project">
        <img src="../../assets/Home/img-cei.png">
        <span>CEI - Centro de Educação e Infantil</span>

    </div>

    <div class="items-project">
        <img src="../../assets/Home/img-pabb.png">
        <span>Núcleo Educacional</span>

    </div>
</div>

<div class="position-banner">
    <div class="banner-wrap">
        <p class="text-banner">Nos ajude a fazer a diferença</p>
        <a class="button-shape--banner"><span [routerLink]="['/como-ajudar']" class="align-text"> Quero Doar
                !</span></a>
    </div>
</div>
</div>