<div class="menu-bar-container">
    <span class="img-grid"><img src="../../../assets/Home/logotipo-footer.png" [routerLink]="''"> </span> <span
        class="align-items"> <span class="item-4" routerLinkActive="teste" [routerLink]="['/sobre-nos']">SOBRE
            NÓS</span>

        <span class="item-2" routerLinkActive="teste" [routerLink]="['/como-ajudar']">

            COMO AJUDAR
        </span>
        <span class="item-3" routerLinkActive="teste" [routerLink]="['nucleos']">
            NÚCLEOS </span> <span routerLinkActive="teste" [routerLink]="['parceiros']" class="item-4"> PARCEIROS
        </span> <span [routerLink]="['contato']" routerLinkActive="teste" class="item-5">
            CONTATO </span> </span>

</div>