<div class="img-header2" style=" display: flex; justify-content: center; align-items:center">
    <span style=" font-family: 'Nunito'; font-weight: bold; font-size: 2rem; color: white"> COMO AJUDAR </span>
</div>


<div
    style="padding-top: 2.5rem;display: flex; justify-content:center;width: 100%%;text-align: center;align-items: center">
    <p style=" width: 60%;font-family: 'Nunito'; font-weight: 400; font-size: 2rem; color: rgb(115, 61, 203);"> Junte-se
        a nós, seja um
        <span style="font-weight: 800">colaborador</span> mensal e transforme vidas todos os dias
    </p>

</div>


<div
    style="display: flex; justify-content:center;width: 50%;    padding-left: 25rem;;text-align: center;align-items: center">
    <div style="display:flex;flex-wrap: wrap;width: 60%">
        <img style="width: 50%" src="../../assets/Doacao/ic_materiais.png">
        <span
            style=" width: 55%;font-family: 'Nunito'; padding-top: 2rem;font-weight: 800; font-size: 2rem; color: rgb(115, 61, 203);">
            Doação de Materiais</span>
    </div>
    <div style="display:flex;flex-wrap: wrap;width: 60%">

        <img style="width: 50%" src="../../assets/Doacao/ic_dinheiro.png">

        <span style=" width: 60%;font-family: 'Nunito'; font-weight: 800; font-size: 2rem; color: rgb(115, 61, 203);">
            Doação Financeira</span></div>

</div>