<div style="background-color: rgb(245,245,245); padding-bottom:3rem">
    <div style="display: flex; justify-content:center">
        <div style=" width: 40%;
display: flex;
 align-content: center;
 align-items: center;
 padding-top: 3rem;
 padding-bottom: 3rem">
            <img style="width: 20%; " src="../../../assets/Sobre Nos/ic-caminhando.png">
            <span
                style="padding-left: 2rem; font-weight:800;color:rgb(112, 64, 199); font-size: 1.5rem;font-family: 'Nunito'">
                Conheça mais
                sobre a longa
                história
                da Caminhando para o Futuro</span></div>



    </div>
    <div style="display: flex; justify-content:center">
        <div style="    width: 42%;
text-align: justify;
justify-content: center;
display: flex;
flex-flow: wrap;">
            <p style=" font-weight: 200; font-size: 1rem;font-family: 'Nunito'">
                Sociedade Beneficente Caminhando Para o Futuro, iniciou suas atividades no ano de 1975, no dia 11 de
                julho.
                A
                iniciativa surgiu de movimentos de moradores do bairro do Jd. Carombé para abertura de um núcleo que
                tivesse
                a
                proposta de atender às crianças e adolescentes de famílias que residem na região e assim às famílias
                poderiam
                ficar mais tranquilas, pois seus filhos estariam em um local seguro.
                A organização aumentou consideravelmente o número de crianças atendidas com a abertura de vários outros
                núcleos.


            </p>
            <div style="  display: flex;
        flex-wrap: wrap;
        width: 100%;">
                <span style="  font-weight:800;color:rgb(112, 64, 199); font-size: 1rem;font-family: 'Nunito'">A
                    ORGANIZAÇÃO
                    POSSUI:</span>
                <ul style="font-weight: 200; font-size: 0.9rem;font-family: 'Nunito'; margin-left: -1.7rem">
                    <li *ngFor="let item of incluso">{{item}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>
